<h1>Users controller</h1>

<%= flash[:notice] %>
<div>
	<h4>Import data!</h4>
	<%= form_tag users_import_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import from file" %>
	<% end %>
</div>
<% @grandfathers.each do |grandfather| %>
	<ul>
		<li><%= grandfather.name%></li>				
		<% grandfather.sons.each do |father| %>
			<ul>
				<li><%= father.name%></li>
				<% father.sons.each do |son| %>		
					<ul>
						<li><%= son.name%></li>
					</ul>
				<% end %>
			</ul>
		<% end %>
	</ul>
<% end %>